@model Application.ViewModels.Productora.SaveProductoraViewModel

@{
    bool editMode = Model.Id != 0; // Determina si es edicion o creacion
    ViewData["Title"] = editMode ? $"Editando la productora: {Model.Name}" : "Creando una nueva productora";
}

<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header bg-dark text-light">
                <h4>@(editMode ? $"Editando la productora: {Model.Name}" : "Creando una nueva productora")</h4>
            </div>
            <div class="card-body">
                <form method="post" asp-controller="Productora" asp-action="@(editMode ? "Edit" : "Create")">

                    <div class="mb-3">
                        <label asp-for="Name" class="form-label">Nombre de la productora:</label>
                        <input type="text" asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <input type="hidden" asp-for="Id" />

                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a asp-controller="Productora" asp-action="Index" class="btn btn-warning">Volver atrás</a>
                </form>
            </div>
        </div>
    </div>
</div>
